 {
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "experimentalTernaries": true,
    "jsxSingleQuote": true,
    "semi": false,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none"
}
